<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid ">
      <ul class="nav navbar-nav ">
        <li  class="text-center"><a href="#/new-bid">New Bid</a></li>
        <li  class="text-center "><a href="#/running-bids-admin">Running Bids</a></li>
        <li class="text-center " ><a href="#/closed-bids-admin">Closed Bids</a></li>
        <li class="active text-center" ><a  href="#/history-admin">History</a></li>
      </ul>
    </div>
  </nav>
  
  <h2 id="h2_inline" >History  &#8352;</h2>
  
   </br>
   
  <div  ng-controller="user">
   <div class="row">
    

</div>
</div>
</div>
